@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$fontFamily: 'Quicksand', sans-serif;

#app,
.p-component {
    font-family: $fontFamily !important;
}

.text-sm {
    font-size: 0.85rem !important;
    line-height: 1.25rem !important;
}

.bg-pink-200 {
    background-color: #f48fb1 !important;
}

.bg-deep-orange-200 {
    background-color: #ffab91 !important;
}

.bg-indigo-400 {
    background-color: #5c6bc0 !important;
}

.bg-teal-200 {
    background-color: #80cbc4 !important;
}

.bg-deep-purple-200 {
    background-color: #b39ddb !important;
}

.bg-gray-200 {
    background-color: #eeeeee !important;
}
